.register,
.login {
    margin-block-start: 7rem;
    max-inline-size: 100%;
    background: #fff;
    block-size: auto;
    padding: 1rem 1.2rem;
    block-size: auto;
}

.register {
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2rem;
    inline-size: 70%;
}

.login {
    display: flex;
    flex-direction: column;
    inline-size: 30rem;
}

.login input {
    inline-size: 100%;
}

.login .form__image {
    inline-size: 100%;
    block-size: 10rem;
    border-radius: .7rem;
}

.form__image {
    inline-size: 100%;
    block-size: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.form__image img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}

.form__container {
    display: flex;
    flex-direction: column;
}

h3 {
    font-weight: bold;
    margin-block-end: .5rem;
    text-align: center;
    font-size: 1.3rem;
}

.form__container>form {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
}

form>div>p {
    margin-block-end: .5rem;
}

.selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: .5rem;
    margin-block-end: 1rem;
}

#role-selection span {
    padding: .2rem 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: .1rem;
    cursor: pointer;
    transition: background all .3s;
}

#role-selection span:hover {
    background: var(--color-secondary);
}

#role-selection span.selected {
    background: var(--color-primary);
    color: white;
}

.form__field div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-inline: -.5rem;
}

input {
    border: none;
    outline: none;
    background: #F1C59A;
    padding: .5rem 1rem;
    margin: .5rem;
}

input::placeholder {
    color: #D1AA83;
}

select {
    border: none;
    outline: none;
    background: #F1C59A;
    padding: .5rem 1rem;
    margin: .5rem;
    color: #D1AA83;
    inline-size: 50%;
}

#patient-fields {
    flex-wrap: wrap;
}

#date_of_birth {
    inline-size: 100%;
    color: #D1AA83;
}

#patient-fields div {
    display: flex;
    inline-size: 100%;
    align-items: center;
    margin-inline: 0;
}

#specialty {
    inline-size: 100%;
}

/* ===================== MEDIA QUERIES ===================== */
/* ================ MEDIUM ================ */
@media screen and (max-width: 768px) {

    .register,
    .login {
        inline-size: 90%;
    }

    .register__image {
        display: none;
    }

    .register {
        display: block;
    }
}